<footer class="site-footer">

  <div class="wrapper">

    <div class="footer">
      <div class='footer-social'>
        {% if site.github_username %}
      <a href="https://github.com/{{ site.github_username }}">
        <i class='fa fa-github-square fa-3x'></i>
      </a>
      {% endif %}
      {% if site.twitter_username %}
      <a href="https://twitter.com/{{ site.twitter_username }}">
        <i class='fa fa-twitter-square fa-3x'></i>
        </a>
      {% endif %}
      {% if site.instagram_username %}
      <a href="https://instagram.com/{{ site.instagram_username }}">
        <i class='fa fa-instagram fa-3x'></i>
      </a>
      {% endif %}
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <i class='fa fa-rss-square fa-3x'></i>
      </a>
    </div>
    <div class='footer-rights'>
      <p class="footer-heading"><i class='fa fa-copyright'></i>{{ site.author }} 2016 - <a href='#{ site.email }'>{{site.email }}</a></p>
    </div>
  </div>
  <script type="text/javascript" src="{{ "/assets/javascripts/lightbox.js" | prepend: site.baseurl }}"></script>
  
</footer>
