<header class="site-header">
  <nav class="site-nav">
    <div class="trigger">
      <a class="page-link" href="http://localhost:4000/">Home</a>
      <a class="page-link" href="#projects">Projects</a>
      <a class="page-link" href="{{site.url}}/blog">Blog</a>
      <a class="page-link" href="#about">About</a>
      <a class="page-link" href="#contact">Contact</a>
    </div>
  </nav>
  <div class="wrapper site-header-body">
    <div class='site-header-container'>
    <div class='banner-image'></div>
