/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {

}



/**
 * Figures
 */
figure > img {
    
}

figcaption {
    
}



/**
 * Lists
 */

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
    list-style-type: none;
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {

}



/**
 * Links
 */
a {

    &:visited {
        
    }

    &:hover {
        
    }
}



/**
 * Blockquotes
 */
blockquote {


    > :last-child {
        
    }
}



/**
 * Code formatting
 */
pre,
code {

}

code {
    
}

pre {


    > code {

    }
}



/**
 * Wrapper
 */
.wrapper {

}



/**
 * Clearfix
 */
%clearfix {

    &:after {

    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            
        }
    }
}
