* {
    box-sizing: border-box;
    font-size: $base-font-size;
}

body {
    width: 100%;
}

.site-header {
    border-bottom: 2px solid black;
}


.wrapper {
    width: 100vw;
    position: relative;

    .main-title {
        // height: 300px;
        width: 60%;
        padding: 50px 0;
        padding-left: 20px;
        

        h1 {
            font-size: 3rem;

        }
    }

}

.main-content {
    display: flex;
    flex-flow: column;
    flex-flow: no-wrap;

    .main-section {
        position: relative;
        padding-bottom: 60px;
        border-bottom: 2px solid black;
        width: 90vw;
        margin: 0 auto;
    }

    /**********
    CURRENT PROJECTS
    ***********/

    .main-projects-gallery {
        // height: 300px;
        display: flex;
        flex-flow: row;
        flex-flow: wrap;
        justify-content: center;
        margin: 0 auto;

        .main-projects-project {
            border: 2px solid black;
            width: calc(50% - 5px);
            margin-bottom: 10px;
            // flex: 1;
        }

        .project-lrg {
            height: 300px;
            width: 300px;
            margin-left: 0;
        }
        .main-projects-group {
            width: 300px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            .project-sm {
                height: 145px;
            }
        }
    }


    /************
    RECENT POSTS
    *************/
    .main-blog {
        .main-blog-posts {
            .post-list {
                .main-new-post {
                    li {
                        .main-post-header {
                            h1 {
                                font-size: 2rem;
                                line-height: 1rem;
                                margin-bottom: 0;
                                a {
                                    text-decoration: none;
                                }
                            }
                            p {

                            }
                        }

                        .main-post-excerpt {

                        }
                    }
                }
            }
        }
    }
    
}




/************
BANNER
************/
.main-section {

    .main-section-banner {
        position: relative;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 80px;
        .banner-body {
          width: $banner-width;
          height: 50px;
          background-color: white;
          border: 1px solid black;
          position: absolute;
          top: -25px;
          left: 50px;
          z-index: 3;
         
          h1 {
            text-align: center;
            margin-top: 10px;
            color: black;
          }
        }

        .banner-tail-left {
          width: 50px;
          height: 40px;
          background-color: grey;
          position: absolute;
          top: 0;
          left: 15px;
          
          &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid white;
            top: 0;
            left: 0;
          }
          
          &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-bottom: 5px solid transparent;
            border-top: 20px solid black;
            top: 20px;
            left: 35px;
          }
        }

        .banner-tail-right {
          width: 50px;
          height: 40px;
          background-color: grey;
          position: absolute;
          top: 0;
          left: $right-flag;
          
          &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-right: 15px solid transparent;
            border-bottom: 5px solid transparent;
            border-top: 20px solid black;
            top: 20px;
            left: 0;
          }
          
          &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-right: 20px solid white;
            top: 0px;
            left: 30px;
          }
        }
    }
    }