/**
 * Site header
 */
.site-header {
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    
    position: relative;
   
}

.site-title {
    font-size: 50px;
    font-family: $header-font-family;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 20px;
    box-shadow: 0 8px 5px -2px rgba(82, 222, 229, 0.6); 
    border-bottom: 10px solid $light-blue;   

    p {
        margin-top: -20px;
        padding-top: 0;
        font-size: 20px;
    }
    a {
        color: $brand-color;
        
    }
}

@include media-query($on-palm) {
    .site-title-description p{
        font-size: 16px;
    }
}

.site-nav {
    float: left;
    width: 100%;
    line-height: 30px;
    height: 35px;
    

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $purple-color-light;
        line-height: $base-line-height;
        float: left;
        font-size: 20px;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
}



/**
PAGE CONTENT
**/

.page-content .wrapper{
    margin: 10px;
    box-shadow: 0 -10px 5px -2px rgba(82, 222, 229, 0.6); 
    border-top: 8px solid $light-blue;   
    margin: 0 auto;
    margin-top: 20px;

    ul {
        margin-left: 20px;
        padding-left: 20px;
    }
}

.post {
    margin-left: 20px;
    padding-left: 20px;
}

.post-header {
    margin-top: 20px;

    h1 {
        color: $brand-color;
    }
}

.page-header {
    margin-top: 20px;
}

.rss-subscribe {
    margin-left: 20px;
    padding-left: 20px;
}

/**
FOOTER
**/
.footer-heading, .footer-col-wrapper{
    margin-left: 20px;
    padding-left: 20px;
}

.footer-heading {
    color: $brand-color;
}


