---
layout: default
---
    <div class="main-title message-title">
        <h1>Message</h1>
        <p><em>noun</em><br>1. a verbal, written, or recorded communication sent to or left for a recipient who cannot be contacted directly.</p>
      </div>
    </div>
  </div><!-- wrapper -->
</header>

<div class="blog-container">
  <div class="wrapper">

    <div class="blog">
      <ul class="post-list">
        <div class='new-post'>
          <li class='message-container'>
            <header class="post-header">
              <h1 class='message-header'>
                <div class='post-link'> Thanks for your message!</div>
    
              </h1>
            </header>

            <article class="post-excerpt">
              <p>I'll get back to you as soon as I can.
              </p>
            </article>
          </li>
        </div>
      </ul>